body {
    background-image: url("https://f1.bcbits.com/img/a1078065926_10.jpg");
    background-size: cover;
    color: white;
}

#result {
  display: none;
}

.panel {
  display: none;
}

#show-place {
  display: none;
}

.place {
  cursor: pointer;
  color: #0088cc;
}

.place:hover {
  text-decoration: underline;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
}
