body {
    background-image: url("https://f1.bcbits.com/img/a1078065926_10.jpg");
    background-size: cover;
    color: white;
}

.panel {
  color: black;
  opacity: 0.5;
  padding-left: 20px;
}

.panel h2 {
  margin-top: 10px;
}

#result {
  display: none;
}

#show-place {
  display: none;
}

.place {
  cursor: pointer;
  color: #0088cc;
}

.place:hover {
  text-decoration: underline;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
}

.glyphicon {
  padding-right: 10px;
}

.form-control {
  opacity: 0.75;
}

.input-group-addon {
  opacity: 0.95;
}
